<center>
<% if @favorite_list.present? %>
    <% @favorite_list.each do |expense| %>

    <%= attachment_image_tag expense, :image, :fill, 300, 300, format: 'jpeg', fallback: "" %>
    <p>¥<%= expense.expense %></p>
    <p><%= expense.memo %></p>

    <% end %>
<% end %>
</center>