<div class="container">
  <center>

   <h5><div class = "bg-light mt-4 col-2 mx-6">
      ニックネームの変更
    </div>
    </div>
<%= form_with model: @user, url: update_user_path, local:true do |f| %>

  <%= f.text_field :nickname %>

  <%= f.submit '名前の変更する', class: 'btn btn-success' %>


<% end %>