<% flash.each do |message_type, message| %>
  <%= content_tag :div, message, class: message_type %>
<% end %>
<div class="container mx-auto">
  <div class="row">
<div class="col-md-10 mt-3">


  <div class="card" style=" ">
<center>
    <div class="card-body  card-img-overlay ">
    <div class="card-text bg-white col-6 mt-5">
    <center>
    <p>ようこそ、Mymemoへ！</p>
    <p>このサイトは、日々の出費を記録して、</p>
    <p>カレンダーで確認することができます。</p>
    <p>ご利用には会員登録が必要になります。</p>
    </div>
    </div>
</center>

   <%= image_tag '23217802_s.jpg', size: "980x500" %>
    <%= image_tag 'calendar.picture.bmp', size: "980x600" %>
<rect fill="#868e96" width="100%" height="100%">

</div>
</div>
</div>


<div id="box">
  <div id="images">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
  </div>
</div>




