// Place all the styles related to the expenses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.item_image_btn{
    display: none;
}

#img_field {
  font-size: 15px;
  font-style: inherit;

  color: gray;

  border-radius: 5px;
  width: 100px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border:2px dotted #000000;
}

tr {
  height: 50px;
}

td {
  width: 150px;
}


@media (max-width:430px) {
  tr {
  height: 50px;
  }

  td {
  width: 50px;
  height: 72px;

  }
  .image {
    width: 35px;
    height: 35px;
  }


}