// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.group {
  position: relative;
  }

.group p {
  position: absolute;
  color: black;
  top: 100;
  left: 200;
  }

.group img {
  width: 35%;
  height: 100px;
  }

.background {
  background-image: url(23348924_s.jpg);
  }

