<div class="container">
  <div class="row">
   <h5><div class = "bg-light mt-4 col-12 md-6">
       レポート</div></h5>
  </div>

   <div class="mt-5 col-12  mx-2">
    <div class ="row">
    <label for="" class="col-2 mb-4 text-center btn btn-secondary">今週</label>
    <div class="col-10">計￥<%= @thisWeekSum %>の出費</div>
   </div>


    <div class ="row">
    <label for="" class="col-sm-2 mb-4 text-center btn btn-secondary">先週</label>
    <div class="col-sm-8">計￥<%= @lastWeekSum %>の出費</div>
   </div>


    <div class ="row">
    <label for="" class="col-sm-2 mb-4 text-center btn btn-secondary">今月</label>
    <div class="col-sm-8">計￥<%= @monthSum %>の出費</div>
   </div>


    <div class ="row">
    <label for="" class="col-sm-2 mb-4 text-center btn btn-secondary">先月</label>
    <div class="col-sm-8">計￥<%= @aggregate  %>の出費</div>
   </div>



</div>
</div>